<body class="bodyVic">
    <div class="divVic">
    <h3 class="h3Vic">¡Victoria!</h3>
    <h3 class="h3Vic">¡Felicidades Campeón! ¡Escapaste!</h3>
    <h3 class="h3Vic">Como premio te regalamos... ¡un abrazo bien fuerte por parte de nuestro equipo de desarrollo!</h3>
    <h3 class="h3Vic">Pasalo a retirar por la biblioteca los jueves de 9:20 a 12:15.</h3>
    </div>
</body>