<body class="bodyDer">
    <div class="divVic">
    <h3 class="h3Vic">¡Perdiste!</h3>
    <h3 class="h3Vic">¡Mal ahí Campeón! ¡Perdiste!</h3>
    <h3 class="h3Vic">No hay consecuencias... Pero deberías sentirte bastante mal, era demasiado facil!</h3>
    <h3 class="h3Vic">Te recomendamos que visites un neurologo y confirmes que no tenes daño cerebral. Suerte!</h3>
    </div>
</body>