<h1>
    Sala N°2:
</h1>
<iframe width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/12317031-ruleta_de_marcas_de_auto.html"></iframe>
<p>Ingrese la ultima letra de cada marca.</p>
<form method = "post" action = '@Url.Action("Habitacion", "Home", new{sala=2})'>
    <input type = "text" name = "clave" placeholder="Ingrese su respuesta"/>
    <input type = "submit" value="Enviar!">
    <input type = "button" value = "Pista" onclick = "">
</form>