<h1>
    Sala N°3:
</h1>
<p>Pregunta</p>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Respuesta</option>
  <option value="1">Opcion 1</option>
  <option value="2">Opcion 2</option>
  <option value="3">Opcion 3</option>
</select>