@{
    ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>

<p>Esta sala de escape está centrada en puzzles acerca de automoviles.</p>
<p>Deberás resolver todas las habitaciones dentro de un marco de tiempo (30 minutos). Tendrás 3 intentos por habitación.
</p>
<div class="divTuto">
    <p class="pTuto1">La primera habitación trata acerca de una sopa de letras en la que deberás encontrar nombres de
        marcas de autos.</p>
    <p class="pTuto2">La segunda habitación deberás coincidir nombres de marcas con sus respectivos logos.</p>
    <p class="pTuto3">En la tercera habitación deberás</p>
</div>
