@{
    ViewData["Title"] = "Tutorial";
}
<h1>@ViewData["Title"]</h1>
<body class="bodyTuto">
<p>Esta sala de escape está centrada en puzzles acerca de automoviles.</p>
<p>Deberás resolver todas las habitaciones en hasta 3 intentos.
</p>
<div class="divTuto">
    <p class="pTuto">En la primera habitación deberás buscar marcas de autos en un crucigrama.
        <img class="imgTuto" src="/imgTuto/hab1.jpg">
        </p></div>
<div class="divTuto">
    <p class="pTuto">La segunda habitación deberás completar un Rosco con marcas de autos.
        <img class="imgTuto" src="/imgTuto/hab2.jpg">
    </p></div>
<div class="divTuto">
    <p class="pTuto">En la tercer habitación debes responder una pregunta.
        <img class="imgTuto" src="/imgTuto/hab3.jpg">
    </p></div>
<div class="divTuto">
    <p class="pTuto">En la cuarta habitación deberás completar un verdadero y falso.
        <img class="imgTuto" src="/imgTuto/hab4.jpg">
    </p></div>
<div class="divTuto">
<p class="pTuto2"> Una vez explicado, ¡te invitamos a comenzar!<br><a class="btn btn-primary" href="Comenzar" role="button">Comenzar</a></p></div>
</body>
